{% extends 'blog/main.twig' %}

{% block body %}     
    {% if options.getVisibility.toString == "ADVANCED" %}
        <form action="/app/blog/edit/{{ posting.getId }}" method="post">
            <table>
                <tr>
                    <td>
                        Titel
                    </td>                
                    <td>
                        <input type="text" name="title" value="{{ posting.getPosting.title }}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Bericht
                    </td>                
                    <td>
                        <textarea name="message">{{ posting.getPosting.message }}</textarea>
                    </td>
                </tr>
            </table>
            <input class="btn btn-primary" type="submit" value="verander"/>
        </form>   
    {% else %}
        <h1>
            {{ posting.getPosting.title }}
        </h1>

        <span>
            {{ posting.getPosting.getTimestamp|date("dd-MM-yyyy") }}
        </span>

        <p>
            {{ posting.getPosting.message }}
        </p>        
    {% endif %}
    
    <h2>
        Reacties
    </h2>

    <div id="responses">
        {% for comment in posting.getPosting.comments %}
            <i>
                {{ comment.getTimestamp|date("dd-MM-yyyy") }}
            </i>
            <p>
                {{ comment.getMessage }}
            </p>
        {% else %}
            <p>
                Nog niemand heeft gereageerd.
                Schande.
            </p>
        {% endfor %}
    </div>
    
    <form id="addComment" action="/app/blog/addCommentToPosting/{{ posting.getId }}" method="post">
        Reageer <br/>
        <textarea class="form-control" name="message"></textarea>
        <input type="hidden" name="id" value="{{ posting.getId }}"/>
        <input class="btn btn-primary" type="submit" value="stuur op"/>
    </form>

    {% if options.getVisibility.toString == "ADVANCED" %}
        <form action="/app/blog/delete/{{ posting.getId }}" method="post">
            <input class="btn btn-primary" type="submit" value="Verwijder"/>
        </form>
    {% endif %}
    
{% endblock %}