{% extends 'blog/main.twig' %}

{% block body %}     
    {% if options.getVisibility.toString == "ADVANCED" %}
        <form action="/app/blog/edit/{{ id }}" method="post">
            <table>
                <tr>
                    <td>
                        Titel
                    </td>                
                    <td>
                        <input type="text" name="title" value="{{ posting.title }}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Bericht
                    </td>                
                    <td>
                        <textarea name="message">
                            {{ posting.message }}
                        </textarea>
                    </td>
                </tr>
            </table>
        </form>   
    {% else %}
        <h1>
            {{ posting.title }}
        </h1>

        <p>
            {{ posting.message }}
        </p>        
    {% endif %}
    
    <h2>
        Reageersels
    </h2>
    
    {% for comment in posting.comments %}
        <i>
            {{ comment.getTimestamp|date("dd-MM-yyyy") }}
        </i>
        <p>
            {{ comment.getMessage }}
        </p>
    {% else %}
        <p>
            Nog niemand heeft gereageerd.
            Schande.
        </p>
    {% endfor %}
    
    <form action="/app/blog/addMessageToPosting/{{ id }}" method="post">
        <table>           
            <tr>
                <td>
                    Reageer
                </td>                
                <td>
                    <textarea name="message"></textarea>
                </td>
            </tr>
        </table>
        
        <input type="submit" value="stuur op"/>
    </form>

    {% if options.getVisibility.toString == "ADVANCED" %}
        <p>
            <a href="/app/blog/delete/{{ id }}">Verwijder</a>
        </p>   
    {% endif %}
    
{% endblock %}